import.json
[{"id":"3f067bb0.be5694","type":"subflow","name":"GitHub to Flow","info":"","category":"","in":[{"x":100,"y":140,"wires":[{"id":"59900f73.e0b81"}]}],"out":[],"env":[{"name":"Url Git","type":"str","value":""}],"color":"#DDAA99"},{"id":"348c014c.f37e1e","type":"function","z":"3f067bb0.be5694","name":"Param http","func":"msg.method = 'POST' ; // add flow if flow_id not exist\nmsg.url = 'http://'+msg.user_nr+':'+msg.password_nr+'@localhost:1880/flow' ;\n\nif(msg.type==='flow' ){\n    if(msg.flow_id != undefined ){\n        msg.method = 'PUT' ;  // update flow  \n        msg.url += '/'+ msg.flow_id ;\n    }\n}else{// update subflow  \n    msg.method = 'PUT' ;  // update flow  \n    msg.url += '/global' ;\n}\n\nmsg.payload = msg.content;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":280,"wires":[["551a1f75.346cd"]]},{"id":"59900f73.e0b81","type":"change","z":"3f067bb0.be5694","name":"Param into msg","rules":[{"t":"set","p":"flow_git","pt":"msg","to":"Url Git","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":140,"wires":[["9d44e71c.3e4198"]]},{"id":"ec64fef6.600af","type":"http request","z":"3f067bb0.be5694","name":"get list Flows","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":190,"y":280,"wires":[["f5eb4de7.ebba6"]]},{"id":"f5eb4de7.ebba6","type":"function","z":"3f067bb0.be5694","name":"search ID of Flows","func":"msg.flow_id2 = msg.flow_id ;\nmsg.flow_id = undefined ;\n\nif(msg.type==='flow'){\n\n    msg.payload.forEach( (f) => {\n        if(f.label===msg.flow_name){\n            msg.flow_id = f.id;\n        }\n    });\n\n}else{\n    for(let i=0 ; i<msg.payload.subflows.length; i++){\n        const f = msg.payload.subflows[i] ;\n        // name => SubFlow\n        if(f.name===msg.flow_name ){\n            msg.flow_id = 'global';\n            msg.payload.subflows[i] = msg.content ;\n        }\n    }\n    if(msg.flow_id===undefined){\n        msg.payload.subflows.push(msg.content) ;\n    }\n    // il faut renvoyer le global entier modifié\n    msg.content=msg.payload;\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":280,"wires":[["348c014c.f37e1e"]]},{"id":"551a1f75.346cd","type":"http request","z":"3f067bb0.be5694","name":"Create Or update Flow","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":880,"y":280,"wires":[["c6626e56.a1fe"]]},{"id":"c6626e56.a1fe","type":"debug","z":"3f067bb0.be5694","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":280,"wires":[]},{"id":"1dd78489.33628b","type":"http request","z":"3f067bb0.be5694","name":"get Flow of git","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":620,"y":140,"wires":[["f18ec939.381c68"]]},{"id":"9d44e71c.3e4198","type":"change","z":"3f067bb0.be5694","name":"Url Git","rules":[{"t":"set","p":"url","pt":"msg","to":"flow_git","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":140,"wires":[["1dd78489.33628b"]]},{"id":"f18ec939.381c68","type":"function","z":"3f067bb0.be5694","name":"params","func":"msg.content = msg.payload;\nmsg.flow_name = msg.content.label ; \n\nmsg.url = 'http://'+msg.user_nr+':'+msg.password_nr+'@localhost:1880/flows' ;\nmsg.type= 'flow';\nif( msg.content.type === 'subflow' ){\n    msg.type='subflow';\n    msg.flow_name = msg.content.name ; \n    msg.url = 'http://'+msg.user_nr+':'+msg.password_nr+'@localhost:1880/flow/global' ;\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":140,"wires":[["ec64fef6.600af"]]},{"id":"b591e346.b4ae7","type":"inject","z":"c07c0ac5.ca6f98","name":"Import","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":120,"wires":[["135dc559.69ad1b"]]},{"id":"135dc559.69ad1b","type":"credentials","z":"c07c0ac5.ca6f98","name":"Credentials","props":[{"value":"user_nr","type":"msg"},{"value":"password_nr","type":"msg"}],"x":330,"y":120,"wires":[["7db677b7.764f18"]]},{"id":"7db677b7.764f18","type":"subflow:3f067bb0.be5694","z":"c07c0ac5.ca6f98","name":"Import Github Flow to onprem","env":[{"name":"Url Git","value":"https://raw.githubusercontent.com/m4dm4rtig4n/node-red-enedis-gateway/main/enedis.flow","type":"str"},{"name":"Flow Name","value":"Test","type":"str"}],"x":580,"y":120,"wires":[]}]