node-red.flow
[{"id":"73f60757.3394a8","type":"tab","label":"Enedis","disabled":false,"info":""},{"id":"8603d70e.b89e58","type":"credentials","z":"73f60757.3394a8","name":"","props":[{"value":"token","type":"msg"},{"value":"usage_point_id","type":"msg"},{"value":"url","type":"msg"}],"x":390,"y":280,"wires":[["6fd67189.6691f"]]},{"id":"9f7624d5.67a678","type":"function","z":"73f60757.3394a8","name":"Set Header","func":"msg.headers = {};\nmsg.headers['Content-Type'] = 'application/x-www-form-urlencoded';\nmsg.headers['Authorization'] = msg.token;\nmsg.payload = {\n    'type': \"contracts\",\n    'usage_point_id': msg.usage_point_id,\n    'start': msg.start,\n    'end': msg.end\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":280,"wires":[["c8512586.273468"]]},{"id":"92ae3518.24e668","type":"change","z":"73f60757.3394a8","name":"Set Method","rules":[{"t":"set","p":"method","pt":"msg","to":"POST","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":280,"wires":[["9f7624d5.67a678","f8501f4e.b1812"]]},{"id":"9808d72c.097768","type":"json","z":"73f60757.3394a8","name":"","property":"payload","action":"","pretty":false,"x":1360,"y":280,"wires":[["518bdcc2.6c15b4"]]},{"id":"c8512586.273468","type":"delay","z":"73f60757.3394a8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"3","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1040,"y":280,"wires":[["dbac167e.9ce078"]]},{"id":"302290c1.c6725","type":"inject","z":"73f60757.3394a8","name":"1 Ans","props":[{"p":"since","v":"365","vt":"num"},{"p":"ask","v":"since","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":200,"y":170,"wires":[["8603d70e.b89e58"]]},{"id":"cc34fea.5449e","type":"function","z":"73f60757.3394a8","name":"Get Contract","func":"var usage_points = msg.payload.customer.usage_points;\nfor(let id in usage_points) {\n    if (usage_points[id].usage_point.usage_point_id == msg.usage_point_id) {\n        msg.subscribed_power =  usage_points[id].contracts.subscribed_power;\n        msg.offpeak_hours =  usage_points[id].contracts.offpeak_hours;\n        msg.distribution_tariff = usage_points[id].contracts.distribution_tariff;\n        msg.last_distribution_tariff_change_date = usage_points[id].contracts.last_distribution_tariff_change_date;\n    }        \n}\n\nmsg.payload = msg.offpeak_hours ;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1640,"y":280,"wires":[["67898d13.ea9f14","d85f9f64.736df","7a4cad6c.11c124","ce0eb795.334ed8"]]},{"id":"534232df.f4a4cc","type":"function","z":"73f60757.3394a8","name":"Split date week per week","func":"var now = new Date();\nvar date_begin = new Date();\nvar since = msg.since;\ndate_begin = date_begin.setDate(date_begin.getDate() - since);\nvar finish = false;\n\nmsg.payload = [];\n\nif (since < 7) {\n    start_week = new Date(date_begin);\n    year  = start_week.getFullYear();    \n    month = (start_week.getMonth() + 1).toString().padStart(2, \"0\");\n    day   = start_week.getDate().toString().padStart(2, \"0\");\n    start = year + '-' + month + '-' + day;\n    \n    end_week = new Date(now); \n    end_week = end_week.setDate(end_week.getDate() - 1);        \n    end_week = new Date(end_week); \n    year  = end_week.getFullYear();    \n    month = (end_week.getMonth() + 1).toString().padStart(2, \"0\");\n    day   = end_week.getDate().toString().padStart(2, \"0\");    \n    end = year + '-' + month + '-' + day; \n\n    msg.payload.push({\n        start: start,\n        end: end\n    });    \n    \n}else{\n    while (finish === false) {\n        \n        start_week = new Date(date_begin);\n        year  = start_week.getFullYear();    \n        month = (start_week.getMonth() + 1).toString().padStart(2, \"0\");\n        day   = start_week.getDate().toString().padStart(2, \"0\");\n        start = year + '-' + month + '-' + day;\n        \n        date_begin = new Date(date_begin);\n        end_week = date_begin.setDate(date_begin.getDate() + 7);\n        end_week = new Date(end_week);\n    \n        year  = end_week.getFullYear();    \n        month = (end_week.getMonth() + 1).toString().padStart(2, \"0\");\n        day   = end_week.getDate().toString().padStart(2, \"0\");\n        end = year + '-' + month + '-' + day;  \n        \n        if (now < end_week) {\n            finish = true;\n        }else{\n            msg.payload.push({\n                start: start,\n                end: end\n                });\n        }\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":480,"wires":[["6b271121.45967"]]},{"id":"c6f25933.1f2548","type":"http request","z":"73f60757.3394a8","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"2923591e.104216","persist":false,"proxy":"","authType":"","x":1450,"y":480,"wires":[["70fc2734.7c37c8","99891b3f.319678"]]},{"id":"2ff89375.616c4c","type":"function","z":"73f60757.3394a8","name":"Set Header","func":"msg.headers = {};\nmsg.headers['Content-Type'] = 'application/x-www-form-urlencoded';\nmsg.headers['Authorization'] = msg.token;\nmsg.payload = {\n    'type': \"consumption_load_curve\",\n    'usage_point_id': msg.usage_point_id,\n    'start': msg.payload.start,\n    'end': msg.payload.end\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":480,"wires":[["24b882f8.5379ce"]]},{"id":"70fc2734.7c37c8","type":"json","z":"73f60757.3394a8","name":"","property":"payload","action":"","pretty":false,"x":1600,"y":480,"wires":[["ecbd15a3.fd1db8"]]},{"id":"24b882f8.5379ce","type":"delay","z":"73f60757.3394a8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"3","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1270,"y":480,"wires":[["c6f25933.1f2548"]]},{"id":"19f1649c.51e57b","type":"influxdb out","z":"73f60757.3394a8","influxdb":"f1359355.36a2b","name":"","measurement":"","precision":"","retentionPolicy":"","x":2260,"y":480,"wires":[]},{"id":"ecbd15a3.fd1db8","type":"function","z":"73f60757.3394a8","name":"Fields","func":"var unit                = msg.payload.meter_reading.reading_type.unit;\nvar measurement_kind    = msg.payload.meter_reading.reading_type.measurement_kind\nvar aggregate           = msg.payload.meter_reading.reading_type.aggregate;\nvar interval_reading    = msg.payload.meter_reading.interval_reading;\nvar reading_start       = msg.payload.meter_reading.start;\n\n// date_hc_begin = date_timestamp.setHours(start.split('H')[0],start.split('H')[1]);\n// date_hc_end = date_hc_end.setDate(date_hc_end.getDate() + 1);\n\nreading_start = new Date(reading_start);\nreading_start = reading_start.setDate(reading_start.getDate() - 1);\nstart_reading = true;\n\nvar hc = msg.hc;\n\nnew_day = undefined;\njumping_day = undefined\n\nmsg.payload = [];\n\nfor(let id in interval_reading) {\n    \n    date = interval_reading[id].date;\n    date_timestamp = new Date(date);\n    \n    type = \"HP\";\n    \n    for(let idd in hc) {\n        start = hc[idd].start;\n        end = hc[idd].end;\n        \n        start_hour = start.split(\"H\")[0];\n        end_hour = end.split(\"H\")[0];\n        \n        if (parseInt(start_hour) > parseInt(end_hour) ){\n            jumping_day = true;\n        }else{\n            jumping_day = false;\n        }\n        \n        if (jumping_day === true) {\n            \n            hc_start    = new Date(date_timestamp);\n            hc_end      = new Date(date_timestamp);\n\n            day_start   = new Date(hc_start).getDate();\n            day_current = new Date(date_timestamp).getDate();\n            hours_current = new Date(date_timestamp).getHours();\n            day_ending  = new Date(hc_end).getDate();\n            \n            if (hours_current < 12 && day_start == day_current) {\n                hc_start = new Date(hc_start);\n                hc_start = hc_start.setDate(hc_start.getDate() - 1);\n            }\n            if (hours_current >= 12) {\n                hc_end = new Date(hc_end);\n                if (day_ending == day_current) {\n                    hc_end = hc_end.setDate(hc_end.getDate() + 1);\n                }              \n            }            \n            \n        }else{\n            hc_start = new Date(date_timestamp);\n            hc_end = new Date(date_timestamp);\n        }\n        \n        hc_start = new Date(hc_start);\n        hc_start = hc_start.setHours(start.split('H')[0],start.split('H')[1]); \n        hc_end = new Date(hc_end);\n        hc_end = hc_end.setHours(end.split('H')[0],end.split('H')[1]);     \n        \n        if (hc_start <= date_timestamp && date_timestamp < hc_end) {\n            type = \"HC\";\n        }\n        \n        // begin_date = new Date(hc_start).getDate()+\" - \"+new Date(hc_start).getHours()+\":\"+new Date(hc_start).getMinutes();\n        // ended_date = new Date(hc_end).getDate()+\" - \"+new Date(hc_end).getHours()+\":\"+new Date(hc_end).getMinutes();\n        // timestamp = new Date(date_timestamp).getDate()+\" - \"+new Date(date_timestamp).getHours()+\":\"+new Date(date_timestamp).getMinutes();        new Date(date_timestamp)\n        // node.log(begin_date+\"\\t<=\\t\"+timestamp+\"\\t<\\t\"+ended_date+\"\\t=> \"+type);  \n    }\n    \n    tags = {\n        month: date.split(' ')[0].split('-')[1],\n        year: date.split(' ')[0].split('-')[0],\n        measure_type: interval_reading[id].measure_type,\n        interval_length: interval_reading[id].interval_length,\n        usage_point_id: msg.usage_point_id,\n        type: type\n    }\n    fields = {\n        value: parseInt(interval_reading[id].value),\n        subscribed_power: parseInt(msg.subscribed_power),\n        time: date_timestamp*1000000\n    }\n    \n    msg.payload.push([fields,tags]);\n    if (type == \"HC\") {\n        // node.log(\"============================================================================== \"+type);\n    }\n}\n\nmsg.measurement = \"consumption_load_curve\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1730,"y":480,"wires":[["c4430662.59d878"]]},{"id":"c4430662.59d878","type":"split","z":"73f60757.3394a8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1860,"y":480,"wires":[["a8dc0fb7.3cdd9"]]},{"id":"20d32411.39740c","type":"function","z":"73f60757.3394a8","name":"Calcul HC/HP","func":"var offpeak_hours = msg.offpeak_hours;\n\n// offpeak_hours = \"HC (22H38-6H38;12H00-14H00)\";\n\nvar parts = offpeak_hours.match(/([('])(.*)([)'])/);\ndate = parts[2].split(';');\n\nmsg.hc = [];\n\nfor(let id in date) {\n    msg.hc.push({\n        start: date[id].split('-')[0],\n        end: date[id].split('-')[1],\n    })\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":480,"wires":[["534232df.f4a4cc"]]},{"id":"dbac167e.9ce078","type":"http request","z":"73f60757.3394a8","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"2923591e.104216","persist":false,"proxy":"","authType":"","x":1210,"y":280,"wires":[["9808d72c.097768"]]},{"id":"6b271121.45967","type":"split","z":"73f60757.3394a8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":910,"y":480,"wires":[["2ff89375.616c4c","ea27f1af.c428d"]]},{"id":"5266a5c6.898edc","type":"inject","z":"73f60757.3394a8","name":"1 Mois","props":[{"p":"since","v":"31","vt":"num"},{"p":"ask","v":"since","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":200,"y":270,"wires":[["8603d70e.b89e58"]]},{"id":"6883cca4.1c4614","type":"inject","z":"73f60757.3394a8","name":"1 Semaines","props":[{"p":"since","v":"8","vt":"num"},{"p":"ask","v":"since","vt":"str"}],"repeat":"","crontab":"00 04 * * *","once":false,"onceDelay":0.1,"topic":"","x":170,"y":320,"wires":[["8603d70e.b89e58"]]},{"id":"346d101d.dc5b1","type":"inject","z":"73f60757.3394a8","name":"2 Ans","props":[{"p":"since","v":"730","vt":"num"},{"p":"ask","v":"since","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":200,"y":120,"wires":[["8603d70e.b89e58"]]},{"id":"d13ba11b.d96c1","type":"inject","z":"73f60757.3394a8","name":"3 Mois","props":[{"p":"since","v":"90","vt":"num"},{"p":"ask","v":"since","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":200,"y":220,"wires":[["8603d70e.b89e58"]]},{"id":"eccb6613.4e7fa8","type":"influxdb in","z":"73f60757.3394a8","influxdb":"f1359355.36a2b","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":1310,"y":540,"wires":[[]]},{"id":"ea27f1af.c428d","type":"function","z":"73f60757.3394a8","name":"Delete History","func":"msg.query = \"DELETE FROM consumption_load_curve WHERE time >= '\"+msg.payload.start+\"' AND time <= '\"+msg.payload.end+\"';\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":540,"wires":[["eccb6613.4e7fa8"]]},{"id":"99891b3f.319678","type":"switch","z":"73f60757.3394a8","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1600,"y":520,"wires":[["ce1692c3.0534a"]]},{"id":"a8dc0fb7.3cdd9","type":"delay","z":"73f60757.3394a8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"100","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2020,"y":480,"wires":[["19f1649c.51e57b"]]},{"id":"518bdcc2.6c15b4","type":"switch","z":"73f60757.3394a8","name":"","property":"payload.customer.usage_points","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1480,"y":280,"wires":[["8603d70e.b89e58"],["cc34fea.5449e","1e7b7167.6cb6ff"]]},{"id":"c34f2a74.6dbc48","type":"inject","z":"73f60757.3394a8","name":"export2mqtt","props":[{"p":"ask","v":"export2mqtt","vt":"str"}],"repeat":"","crontab":"00 08 * * *","once":false,"onceDelay":0.1,"topic":"","x":170,"y":430,"wires":[["8603d70e.b89e58"]]},{"id":"9ceab61c.bf2938","type":"function","z":"73f60757.3394a8","name":"---- Week consommation ----","func":"msg.query = 'SELECT sum(\"value\") /60*10 FROM \"hass\".\"autogen\".\"consumption_load_curve\" WHERE (\"usage_point_id\" =~ /^'+msg.usage_point_id+'$/) AND time >= now() - 7d GROUP BY value fill(none)';\nmsg.topic = \"linky/consommation/semaine\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":770,"wires":[["62a84e7a.b9537"]]},{"id":"62a84e7a.b9537","type":"influxdb in","z":"73f60757.3394a8","influxdb":"57d9cd06.0e4dc4","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":640,"y":830,"wires":[["b1887683.57c068"]]},{"id":"4d9a2d68.63ba44","type":"mqtt out","z":"73f60757.3394a8","name":"","topic":"","qos":"0","retain":"true","broker":"52ff5e5d.53305","x":990,"y":890,"wires":[]},{"id":"a3bac319.6db45","type":"mqtt out","z":"73f60757.3394a8","name":"","topic":"linky/contrat/puissance","qos":"0","retain":"true","broker":"52ff5e5d.53305","x":2060,"y":280,"wires":[]},{"id":"67898d13.ea9f14","type":"function","z":"73f60757.3394a8","name":"","func":"msg.payload = msg.subscribed_power;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1870,"y":280,"wires":[["a3bac319.6db45"]]},{"id":"bb223cfe.66ffa","type":"function","z":"73f60757.3394a8","name":"-- Month consommation --","func":"msg.query = 'SELECT sum(\"value\") /60*10 FROM \"hass\".\"autogen\".\"consumption_load_curve\" WHERE (\"usage_point_id\" =~ /^'+msg.usage_point_id+'$/) AND time >= now() - 31d GROUP BY value fill(none)';\nmsg.topic = \"linky/consommation/mois\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":850,"wires":[["62a84e7a.b9537"]]},{"id":"4229793d.c323d8","type":"function","z":"73f60757.3394a8","name":"---- Years consommation ----","func":"msg.query = 'SELECT sum(\"value\") /60*10 FROM \"autogen\".\"consumption_load_curve\" WHERE (\"usage_point_id\" =~ /^'+msg.usage_point_id+'$/) AND time >= 1568789375586ms GROUP BY value fill(none)';\nmsg.topic = \"linky/consommation/annees\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":930,"wires":[["d4ec197a.a29c98"]]},{"id":"285335a3.87c6aa","type":"mqtt out","z":"73f60757.3394a8","name":"","topic":"linky/contrat/heures_creuse","qos":"0","retain":"true","broker":"52ff5e5d.53305","x":2070,"y":340,"wires":[]},{"id":"d85f9f64.736df","type":"function","z":"73f60757.3394a8","name":"","func":"var offpeak_hours = msg.offpeak_hours;\nvar parts = offpeak_hours.match(/([('])(.*)([)'])/);\nmsg.payload = parts[2].replace(';',' / ');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1870,"y":340,"wires":[["285335a3.87c6aa"]]},{"id":"b1887683.57c068","type":"unit-converter","z":"73f60757.3394a8","category":"power","inputUnit":"W","outputUnit":"kW","inputField":"msg.payload[0].sum","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":2,"name":"","x":810,"y":830,"wires":[["4d9a2d68.63ba44"]]},{"id":"d4ec197a.a29c98","type":"influxdb in","z":"73f60757.3394a8","influxdb":"57d9cd06.0e4dc4","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":640,"y":950,"wires":[["970361e5.3775d"]]},{"id":"970361e5.3775d","type":"unit-converter","z":"73f60757.3394a8","category":"power","inputUnit":"W","outputUnit":"MW","inputField":"msg.payload[0].sum","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":2,"name":"","x":810,"y":950,"wires":[["4d9a2d68.63ba44"]]},{"id":"176de86.3198b18","type":"function","z":"73f60757.3394a8","name":"Month consommation N-1","func":"msg.query = 'SELECT sum(\"value\") /60*10 FROM \"autogen\".\"consumption_load_curve\" WHERE (\"usage_point_id\" =~ /^'+msg.usage_point_id+'$/) AND time >= now() -  396d AND time <= now() - 365d GROUP BY value fill(none)';\nmsg.topic = \"linky/consommation/mois_n-1\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":890,"wires":[["62a84e7a.b9537"]]},{"id":"9177c20e.72f4e","type":"function","z":"73f60757.3394a8","name":"Week consommation N-1","func":"msg.query = 'SELECT sum(\"value\") /60*10 FROM \"autogen\".\"consumption_load_curve\" WHERE (\"usage_point_id\" =~ /^'+msg.usage_point_id+'$/) AND time >= now() -  372d AND time <= now() - 365d GROUP BY value fill(none)';\nmsg.topic = \"linky/consommation/semaine_n-1\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":810,"wires":[["62a84e7a.b9537"]]},{"id":"d145f682.b7fe58","type":"function","z":"73f60757.3394a8","name":"Years consommation N-1","func":"msg.query = 'SELECT sum(\"value\") /60*10 FROM \"autogen\".\"consumption_load_curve\" WHERE (\"usage_point_id\" =~ /^'+msg.usage_point_id+'$/) AND time >= now() -  730d AND time <= now() - 365d GROUP BY value fill(none)';\nmsg.topic = \"linky/consommation/annees_n-1\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":970,"wires":[["d4ec197a.a29c98"]]},{"id":"7e3a967c.92cb18","type":"inject","z":"73f60757.3394a8","name":"2 jours","props":[{"p":"since","v":"3","vt":"num"},{"p":"ask","v":"since","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":200,"y":370,"wires":[["8603d70e.b89e58"]]},{"id":"ce1692c3.0534a","type":"debug","z":"73f60757.3394a8","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1720,"y":520,"wires":[]},{"id":"1c4dcf59.a6d9b1","type":"comment","z":"73f60757.3394a8","name":"------------------------------------------------------------- Export Data To MQTT -------------------------------------------------------------","info":"","x":610,"y":690,"wires":[]},{"id":"43491722.e0fe08","type":"comment","z":"73f60757.3394a8","name":"------------------------------------------------------------- Get Daily consumption -------------------------------------------------------------","info":"","x":580,"y":70,"wires":[]},{"id":"f8501f4e.b1812","type":"function","z":"73f60757.3394a8","name":"Set Header","func":"msg.headers = {};\nmsg.headers['Content-Type'] = 'application/x-www-form-urlencoded';\nmsg.headers['Authorization'] = msg.token;\nmsg.payload = {\n    'type': \"addresses\",\n    'usage_point_id': msg.usage_point_id,\n    'start': msg.start,\n    'end': msg.end\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":120,"wires":[["c1f0158a.4f53f8"]]},{"id":"fca8aa8f.6755f8","type":"json","z":"73f60757.3394a8","name":"","property":"payload","action":"","pretty":false,"x":1520,"y":120,"wires":[["45a8e911.800a48"]]},{"id":"c1f0158a.4f53f8","type":"delay","z":"73f60757.3394a8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"3","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1200,"y":120,"wires":[["255c0196.6e1bee"]]},{"id":"2e65d827.4c8d98","type":"debug","z":"73f60757.3394a8","name":"PDL Address","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1860,"y":120,"wires":[]},{"id":"255c0196.6e1bee","type":"http request","z":"73f60757.3394a8","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"2923591e.104216","persist":false,"proxy":"","authType":"","x":1370,"y":120,"wires":[["fca8aa8f.6755f8"]]},{"id":"e89657c7.768168","type":"debug","z":"73f60757.3394a8","name":"Get Contract Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1880,"y":170,"wires":[]},{"id":"45a8e911.800a48","type":"function","z":"73f60757.3394a8","name":"Format Address","func":"msg.payload = msg.payload.customer.usage_points[0].usage_point.usage_point_addresses.street+\", \"+msg.payload.customer.usage_points[0].usage_point.usage_point_addresses.postal_code+\" \"+msg.payload.customer.usage_points[0].usage_point.usage_point_addresses.city\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1680,"y":120,"wires":[["2e65d827.4c8d98"]]},{"id":"1e7b7167.6cb6ff","type":"function","z":"73f60757.3394a8","name":"Format Contracts","func":"var subscribed_power = msg.payload.customer.usage_points[0].contracts.subscribed_power;\nvar distribution_tariff = msg.payload.customer.usage_points[0].contracts.distribution_tariff;\nvar offpeak_hours = msg.payload.customer.usage_points[0].contracts.offpeak_hours;\nvar last_distribution_tariff_change_date = msg.payload.customer.usage_points[0].contracts.last_distribution_tariff_change_date;\n\nmsg.payload = `Puissance souscrite : `+subscribed_power+`\nTarif de distribution : `+distribution_tariff+`\nHeures Creuses : `+offpeak_hours+`\nDernier changement de tarif : `+last_distribution_tariff_change_date+`\n`\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1680,"y":170,"wires":[["e89657c7.768168"]]},{"id":"d1f1bd14.721f5","type":"mqtt out","z":"73f60757.3394a8","name":"","topic":"linky/contrat/tarif_change","qos":"0","retain":"true","broker":"52ff5e5d.53305","x":2070,"y":400,"wires":[]},{"id":"7a4cad6c.11c124","type":"function","z":"73f60757.3394a8","name":"","func":"msg.payload = msg.last_distribution_tariff_change_date;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1870,"y":400,"wires":[["d1f1bd14.721f5"]]},{"id":"6fd67189.6691f","type":"switch","z":"73f60757.3394a8","name":"","property":"ask","propertyType":"msg","rules":[{"t":"eq","v":"since","vt":"str"},{"t":"eq","v":"export2mqtt","vt":"str"},{"t":"eq","v":"delete","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":530,"y":280,"wires":[["92ae3518.24e668"],["c0cb27aa.e31808"],["14665c98.5d8333"]]},{"id":"c0cb27aa.e31808","type":"link out","z":"73f60757.3394a8","name":"","links":["570107f0.e10bc8"],"x":635,"y":220,"wires":[]},{"id":"570107f0.e10bc8","type":"link in","z":"73f60757.3394a8","name":"","links":["c0cb27aa.e31808","44a1f283.9eceec"],"x":175,"y":870,"wires":[["9ceab61c.bf2938","9177c20e.72f4e","bb223cfe.66ffa","176de86.3198b18","4229793d.c323d8","d145f682.b7fe58"]]},{"id":"ce0eb795.334ed8","type":"link out","z":"73f60757.3394a8","name":"","links":["42c55a95.ee97d4"],"x":1825,"y":230,"wires":[]},{"id":"42c55a95.ee97d4","type":"link in","z":"73f60757.3394a8","name":"","links":["ce0eb795.334ed8"],"x":385,"y":480,"wires":[["20d32411.39740c"]]},{"id":"1d1bdd24.83d0c3","type":"inject","z":"73f60757.3394a8","name":"delete","props":[{"p":"ask","v":"delete","vt":"str"},{"p":"since","v":"1","vt":"str"},{"p":"method","v":"POST","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":180,"y":490,"wires":[["8603d70e.b89e58"]]},{"id":"14665c98.5d8333","type":"function","z":"73f60757.3394a8","name":"Set Header","func":"msg.headers = {};\nmsg.headers['Content-Type'] = 'application/x-www-form-urlencoded';\nmsg.headers['Authorization'] = msg.token;\nmsg.payload = {\n    'type': \"delete\",\n    'usage_point_id': msg.usage_point_id,\n    'start': msg.start,\n    'end': msg.end\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":350,"wires":[["e94e4fc0.7e474"]]},{"id":"e94e4fc0.7e474","type":"http request","z":"73f60757.3394a8","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"2923591e.104216","persist":false,"proxy":"","authType":"","x":870,"y":350,"wires":[["d0ba645b.5358d8"]]},{"id":"d0ba645b.5358d8","type":"debug","z":"73f60757.3394a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":350,"wires":[]},{"id":"2923591e.104216","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"f1359355.36a2b","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"","name":"MON SERVEUR INFLUXDB","usetls":false,"tls":"2923591e.104216"},{"id":"57d9cd06.0e4dc4","type":"influxdb","hostname":"192.168.1.9","port":"8086","protocol":"http","database":"hass","name":"HASS","usetls":false,"tls":"2923591e.104216"},{"id":"52ff5e5d.53305","type":"mqtt-broker","name":"MON SERVEUR MQTT","broker":"","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]